<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./css/dashboard.css" rel="stylesheet">
    
    <title>JobWeb Admin Pannel</title>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">JobWeb Admin Pannel</a>

      

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>



    <div class="container-fluid">

      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="dashboard.html">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="roles.html">
                  <span data-feather="file"></span>
                  Roles
                </a>
              </li>
                            <li class="nav-item">
                <a class="nav-link" href="permisions.html">
                  <span data-feather="file"></span>
                  Permisions
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="jobs.html">
                  <span data-feather="shopping-cart"></span>
                  Jobs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="users.html">
                  <span data-feather="users"></span>
                  Users
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reports.html">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>

            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">
      
        <!-- Modal Header -->
          <div class="modal-header">
          <h4 class="modal-title">Add New Jobs</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        
        <!-- Modal body of Add New Role -->
           <div class="modal-body">
                    <form>
                        <div class="form-group">
                        <label >Vacancy Name</label>
                        <input type="text" name="vacancyName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                        <label >Job Ref No</label>
                        <input type="Email" name="jobRefNo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                        <label >Date Created</label>
                        <input type="text" name="dateCreated" class="form-control" id="exampleInputPassword1">
                        </div> 

                    </form>
           
        
        <!-- Modal footer of Add New Role -->
          <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
        
      </div>
    </div>
  </div>
            <h3>Jobs Table</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Add New Jobs
            </button>
            <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Vacancy ID</th>
                  <th>Vacancy Name</th>
                  <th>Job Ref No:</th>
                  <th>Date Created</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>001</td>
                  <td>Vacancy 1</td>
                  <td>Vacancy Reff</td>
                  <td>30/3/2010</td>
                  <td class="btn btn-info">Update</td>
                  <td class="btn btn-danger">Delete</td>
                </tr>
              </tbody>
            </table>
          </div>

        </main>
      </div>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
   
  </body>
</html>